#cabeza {
	background-color: black;
	color: white;
}

#menu {
	height: 40px;
}

#colorAzul {
	color: #18B6F5;
}

#menuMenu {
	color: black;
	padding-top: 30px;
	padding-right: 20px;
	padding-left: : 20px;
	padding-bottom: : 20px;
}

#segundoCuerpo {
	background-color: #F6F8F8;
	padding-top: 30px;
}

#tercerCuerpo {
	padding-top: 50px;
}

#cuadroPrecio {
	text-align: center;
}

#fondoCeleste {
	color: white;
	background-color: #18B6F5;
}

#cuadroTabla {
	padding: 20px;
	width: 200px;
}

#cuartoCuerpo {
	text-align: center;
}

#abajo {
	position:fixed; 
	right:0px; 
	bottom: -10px; 
	z-index:10;
	text-align: center;
	background-color: #18B6F5;
	border-radius: 15%;
	padding: 20px;
	margin-right: 50px;
	width: 200px;
}